<div class="menuItemsContainer">

    <ul >
        <li class="menuHeader">
            <div>
                <a>Security</a>
                <ul>
                    <li><a href="/Security/Users">Users</a></li>
                    <li><a>Permissions</a></li>
                    <li><a>Security Map</a></li>
                </ul>
            </div>
        </li>

        <li class="menuHeader">
            <div>
                <a>Tickets</a>
                <ul>
                    <li><a>View Tickets</a></li>
                    <li><a>Dashboard</a></li>
                </ul>
            </div>
        </li>

    </ul>
</div>