html, body{
  height: 100%;
  font-size:14px;
}
body {
  min-height: 100%;
}


.DropFloat:after {
    content:"";
    display:table;
    clear:both;
}

.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}

.maxWidth{
    width:100%;
}